dfbrowsejobproject/linkedTemplates/ArmTemplate_3.json
{
	"$schema": "http://schema.management.azure.com/schemas/2015-01-01/deploymentTemplate.json#",
	"contentVersion": "1.0.0.0",
	"parameters": {
		"factoryName": {
			"type": "string",
			"metadata": "Data Factory name",
			"defaultValue": "dfbrowsejobproject"
		}
	},
	"variables": {
		"factoryId": "[concat('Microsoft.DataFactory/factories/', parameters('factoryName'))]"
	},
	"resources": [
		{
			"name": "[concat(parameters('factoryName'), '/projectpipeline')]",
			"type": "Microsoft.DataFactory/factories/pipelines",
			"apiVersion": "2018-06-01",
			"properties": {
				"activities": [
					{
						"name": "Copy activity",
						"description": "copy data from one container to another",
						"type": "Copy",
						"dependsOn": [],
						"policy": {
							"timeout": "0.12:00:00",
							"retry": 0,
							"retryIntervalInSeconds": 30,
							"secureOutput": false,
							"secureInput": false
						},
						"userProperties": [],
						"typeProperties": {
							"source": {
								"type": "DelimitedTextSource",
								"storeSettings": {
									"type": "AzureBlobFSReadSettings",
									"recursive": true,
									"enablePartitionDiscovery": false
								},
								"formatSettings": {
									"type": "DelimitedTextReadSettings"
								}
							},
							"sink": {
								"type": "DelimitedTextSink",
								"storeSettings": {
									"type": "AzureBlobFSWriteSettings"
								},
								"formatSettings": {
									"type": "DelimitedTextWriteSettings",
									"quoteAllText": true,
									"fileExtension": ".txt"
								}
							},
							"enableStaging": false,
							"translator": {
								"type": "TabularTranslator",
								"mappings": [
									{
										"source": {
											"name": "Index",
											"type": "String",
											"physicalType": "String"
										},
										"sink": {
											"name": "Index",
											"type": "String",
											"physicalType": "String"
										}
									},
									{
										"source": {
											"name": "Account Id",
											"type": "String",
											"physicalType": "String"
										},
										"sink": {
											"name": "Account Id",
											"type": "String",
											"physicalType": "String"
										}
									},
									{
										"source": {
											"name": "Lead Owner",
											"type": "String",
											"physicalType": "String"
										},
										"sink": {
											"name": "Lead Owner",
											"type": "String",
											"physicalType": "String"
										}
									},
									{
										"source": {
											"name": "First Name",
											"type": "String",
											"physicalType": "String"
										},
										"sink": {
											"name": "First Name",
											"type": "String",
											"physicalType": "String"
										}
									},
									{
										"source": {
											"name": "Last Name",
											"type": "String",
											"physicalType": "String"
										},
										"sink": {
											"name": "Last Name",
											"type": "String",
											"physicalType": "String"
										}
									},
									{
										"source": {
											"name": "Company",
											"type": "String",
											"physicalType": "String"
										},
										"sink": {
											"name": "Company",
											"type": "String",
											"physicalType": "String"
										}
									},
									{
										"source": {
											"name": "Phone 1",
											"type": "String",
											"physicalType": "String"
										},
										"sink": {
											"name": "Phone 1",
											"type": "String",
											"physicalType": "String"
										}
									},
									{
										"source": {
											"name": "Phone 2",
											"type": "String",
											"physicalType": "String"
										},
										"sink": {
											"name": "Phone 2",
											"type": "String",
											"physicalType": "String"
										}
									},
									{
										"source": {
											"name": "Email 1",
											"type": "String",
											"physicalType": "String"
										},
										"sink": {
											"name": "Email 1",
											"type": "String",
											"physicalType": "String"
										}
									},
									{
										"source": {
											"name": "Email 2",
											"type": "String",
											"physicalType": "String"
										},
										"sink": {
											"name": "Email 2",
											"type": "String",
											"physicalType": "String"
										}
									},
									{
										"source": {
											"name": "Website",
											"type": "String",
											"physicalType": "String"
										},
										"sink": {
											"name": "Website",
											"type": "String",
											"physicalType": "String"
										}
									},
									{
										"source": {
											"name": "Source",
											"type": "String",
											"physicalType": "String"
										},
										"sink": {
											"name": "Source",
											"type": "String",
											"physicalType": "String"
										}
									},
									{
										"source": {
											"name": "Deal Stage",
											"type": "String",
											"physicalType": "String"
										},
										"sink": {
											"name": "Deal Stage",
											"type": "String",
											"physicalType": "String"
										}
									},
									{
										"source": {
											"name": "Notes",
											"type": "String",
											"physicalType": "String"
										},
										"sink": {
											"name": "Notes",
											"type": "String",
											"physicalType": "String"
										}
									}
								],
								"typeConversion": true,
								"typeConversionSettings": {
									"allowDataTruncation": true,
									"treatBooleanAsNumber": false
								}
							}
						},
						"inputs": [
							{
								"referenceName": "ADLSSourceLinkedService",
								"type": "DatasetReference",
								"parameters": {}
							}
						],
						"outputs": [
							{
								"referenceName": "DelimitedText1",
								"type": "DatasetReference",
								"parameters": {}
							}
						]
					}
				],
				"policy": {
					"elapsedTimeMetric": {}
				},
				"annotations": []
			},
			"dependsOn": []
		},
		{
			"name": "[concat(parameters('factoryName'), '/pipeline_Until')]",
			"type": "Microsoft.DataFactory/factories/pipelines",
			"apiVersion": "2018-06-01",
			"properties": {
				"activities": [
					{
						"name": "Until1",
						"type": "Until",
						"dependsOn": [
							{
								"activity": "Get Metadata1",
								"dependencyConditions": [
									"Succeeded"
								]
							}
						],
						"userProperties": [],
						"typeProperties": {
							"expression": {
								"value": "@activity('Get Metadata1').output.exists",
								"type": "Expression"
							},
							"activities": [
								{
									"name": "Execute Pipeline1",
									"type": "ExecutePipeline",
									"dependsOn": [],
									"policy": {
										"secureInput": false
									},
									"userProperties": [],
									"typeProperties": {
										"pipeline": {
											"referenceName": "pipeline_if_cond",
											"type": "PipelineReference"
										},
										"waitOnCompletion": true,
										"parameters": {}
									}
								}
							],
							"timeout": "0.12:00:00"
						}
					},
					{
						"name": "Get Metadata1",
						"type": "GetMetadata",
						"dependsOn": [],
						"policy": {
							"timeout": "0.12:00:00",
							"retry": 0,
							"retryIntervalInSeconds": 30,
							"secureOutput": false,
							"secureInput": false
						},
						"userProperties": [],
						"typeProperties": {
							"dataset": {
								"referenceName": "DelimitedText21",
								"type": "DatasetReference",
								"parameters": {}
							},
							"fieldList": [
								"exists"
							],
							"storeSettings": {
								"type": "AzureBlobStorageReadSettings",
								"recursive": true,
								"enablePartitionDiscovery": false
							},
							"formatSettings": {
								"type": "DelimitedTextReadSettings"
							}
						}
					},
					{
						"name": "Wait1",
						"type": "Wait",
						"dependsOn": [
							{
								"activity": "Until1",
								"dependencyConditions": [
									"Succeeded"
								]
							}
						],
						"userProperties": [],
						"typeProperties": {
							"waitTimeInSeconds": 5
						}
					}
				],
				"policy": {
					"elapsedTimeMetric": {}
				},
				"annotations": []
			},
			"dependsOn": []
		},
		{
			"name": "[concat(parameters('factoryName'), '/scheduler1')]",
			"type": "Microsoft.DataFactory/factories/triggers",
			"apiVersion": "2018-06-01",
			"properties": {
				"annotations": [],
				"runtimeState": "Started",
				"pipelines": [
					{
						"pipelineReference": {
							"referenceName": "pipeline_cpy_multiple_files",
							"type": "PipelineReference"
						},
						"parameters": {}
					}
				],
				"type": "ScheduleTrigger",
				"typeProperties": {
					"recurrence": {
						"frequency": "Hour",
						"interval": 1,
						"startTime": "2026-02-12T18:35:00",
						"endTime": "2026-02-13T18:35:00",
						"timeZone": "India Standard Time"
					}
				}
			},
			"dependsOn": []
		}
	]
}